[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://github.com/zhouhaibing089/zhouhaibing089.github.io
	branch = master
